*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #171717;
    height: 100vh;
    width: 100%;
}

.container{
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slide{
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
}

.slide-container{
    height: 100vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.title{
    color: #fff;
    font-size: 8rem;
    margin-bottom: 1rem;
    animation: opening 2s;
}

.subtitle{
    color: #fff;
    display: block;
    font-size: 3rem;
    animation: opening 2s;
    /* color: #13aff0; */
}

.title-b{
    color: #fff;
    font-size: 7rem;
}

.container-skills{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    width: 10rem;
    height: 15rem; 
}

.skils-i{
    color: #fff;
    font-size: 5rem;
}

.skills{
    color: #fff;
    font-size: 2rem;
    margin-top: 3rem;
}

.card-proyect{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem;
    width: 17rem;
    height: 20rem;
    padding: 1rem;
    /* border: .3rem solid #fff;
    border-radius: .4rem; */
}

.img-proyect{
    max-width: 100%;
    height: auto;
    border-radius: .3rem;
}

.description{
    color: #fff;
    font-size: 1rem;
    margin: .5rem;
}

.proyect-title{
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    font-size: 3rem;
}

.i-proyect{
    color: #fff;
    text-decoration: none;
    margin: .1rem 1rem;
}

.card:hover, .card-proyect:hover{
    transform: perspective(100rem) translateZ(10rem);
}

@keyframes opening {
    from {
        transform: translatex(-100%);
    }
    to {
        transform: translatex(0%);
    }
}

@media screen and (max-width: 900px) {
    html{
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    html{
        font-size: 10px;
    }
}

@media screen and (max-width: 425px) {
    html{
        font-size: 7px;
    }
}

@media screen and (max-width: 300px) {
    html{
        font-size: 6px;
    }
}